html{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/*Header*/
.header{
    background-color: #fff;
    height: 90px;
    display: grid;
    align-items: center;
    padding: 0px;
    box-shadow: 0 3px 9px rgb(0, 0, 0 / 5%);
    transition: all 0.4s ease 0s;
}
.fixed-top{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
.container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.navbar{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}
.navbar .navbar-brand{
    padding: 0;
    margin: 0;
    color: #dc4f72;
    letter-spacing: -1px;
    font-size: 26px;
    font-weight: 700;
}
.navbar .navbar-brand:hover{
    opacity: 0.95;
}
.navbar-expand-lg .navbar-nav .nav-item{
    position: relative;
    padding: 0 15px;
    transition: all 0.5s ease;
}
.navbar-expand-lg .navbar-nav .nav-item.active .nav-link{
    color: #dc4f72;
}
.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 400;
    color: #2C3038;
}
.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #dc4f72;
}
a:hover {
    color: #ba254a;
    text-decoration: underline;
}
.navbar-expand-lg .navbar-nav .nav-link:hover:before{
    width: 20px;
}
a.nav-link:before{
    position: absolute;
    content: '';
    background: #dc4f72;
    width: 0px;
    height: 2px;
    bottom: 13px;
}
nav ul li a, nav ul li a:after, nav ul li a:before {
    transition: all .5s;
}
.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
}
.btn-outline-primary{
    color:#dc4f72;
    border-color: #dc4f72;
}
.btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
/*.btn:hover {
    color: #212529;
    text-decoration: none;
}*/
@media (min-width: 1280px){
    .container{
    max-width: 1200px;
    }
}
@media (min-width: 1200px){
    .container{
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
    }
}
@media (min-width: 992px){
    .container{
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
    }
    .navbar-expand-lg{
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
    
}
@media (min-width: 768px){
    .container{
    max-width: 100%;
    padding-right: 25px;
    padding-left: 25px;
    margin-right: auto;
    margin-left: auto;
    }
}
@media (min-width: 576px){
    .container{
    max-width: 100%;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: auto;
    margin-left: auto;
    }
}

/* index1*/
.w3l-index1{
    margin-top: 90px;
}
.w3l-index1 .content {
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
    overflow: hidden;
    background: #ffffff;
    background-image: linear-gradient(
        to right, 
        #fff, 
        rgba(255, 255, 255, 0.92)
    ), url(../images/banner.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 5rem;
}
.align-items-center{
    align-items: center !important;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.w3l-index1 .content-left h3 {
    font-size: 50px;
    line-height: 57.5px;
    color: #2C3038;
    font-weight: 700;
}
.w3l-index1 .content-left p {
    max-width: 450px;
    color: #5a5a5a;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}
.w3l-index1 .content-photo img{
    transform: rotate(180deg);
}
.clear{
    clear: both;
}