* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
[data-theme="dark"] {
    --primary-color: #189A46;
    --secondary-color: #f53626;
    --font-color: #afafaf;
    --bg-color: #151515;
    --heading-color: #ddd;
    --border-color: #333;
    --border-light: #444;
    --nav-color: #fff;
    --bg-light: #222;
    --dropdown-color: #151515;
    --iframe-filter: grayscale(100%);
    --widget-bg: #131617;
}
/*Header*/
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
.header {
    background-color: #fff;
    height: 90px;
    display: grid;
    align-items: center;
    padding: 0px;
    box-shadow: 0 3px 9px rgb(0, 0, 0 / 5%);
    transition: all 0.4s ease 0s;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.navbar .navbar-brand {
    padding: 0;
    margin: 0;
    color: #dc4f72;
    letter-spacing: -1px;
    font-size: 26px;
    font-weight: 700;
}

.navbar .navbar-brand:hover {
    opacity: 0.95;
}

.navbar-expand-lg .navbar-nav .nav-item {
    position: relative;
    padding: 0 15px;
    transition: all 0.5s ease;
}

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: #dc4f72;
}

.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 400;
    color: #2C3038;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #dc4f72;
}

a:hover {
    color: #ba254a;
    text-decoration: underline;
}

.navbar-expand-lg .navbar-nav .nav-link:hover:before {
    width: 20px;
}

a.nav-link:before {
    position: absolute;
    content: '';
    background: #dc4f72;
    width: 0px;
    height: 2px;
    bottom: 13px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all .5s;
}

.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
}

.btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

.theme-switch {
    display: inline-block;
    position: relative;
    width: 60px;
    margin: 0;
}
button, input, select, label, li {
    -webkit-appearance: none;
    outline: none;
    font-family: 'Jost', sans-serif;
}
.theme-switch input {
    display: none;
}
.mode-container {
    width: 24px;
    height: 24px;
    padding: 3px 0;
    margin-left: 20px;
}

.mode-container i.gg-sun {
    display: none;
}

input:checked+.mode-container i.gg-sun {
    display: block;
}

.gg-sun {
    position: relative;
    transform: scale(var(--ggs, 1));
    height: 24px;
    background: linear-gradient(180deg,
            currentColor 4px,
            transparent 0) no-repeat 5px -6px/2px 6px,
        linear-gradient(180deg,
            currentColor 4px,
            transparent 0) no-repeat 5px 14px/2px 6px,
        linear-gradient(180deg,
            currentColor 4px,
            transparent 0) no-repeat -8px 5px/6px 2px,
        linear-gradient(180deg,
            currentColor 4px,
            transparent 0) no-repeat 14px 5px/6px 2px;
    border-radius: 100px;
    box-shadow: inset 0 0 0 2px;
    border: 6px solid transparent;
}
.gg-sun,
.gg-sun:after,
.gg-sun:before {
    box-sizing: border-box;
    display: block;
    width: 24px;
}
.gg-sun:after, .gg-sun:before {
    content: "";
    position: absolute;
    height: 2px;
    border-right: 4px solid;
    border-left: 4px solid;
    left: -6px;
    top: 5px;
}
.gg-sun:before {
    transform: rotate(-45deg);
}
.gg-sun:after {
    transform: rotate(45deg);
}
.mode-container i.gg-moon {
    display: block;
}
input:checked+.mode-container i.gg-moon {
    display: none;
}
.gg-moon {
    overflow: hidden;
    position: relative;
    transform: rotate(-135deg) scale(var(--ggs, 1));
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-bottom: 2px solid transparent;
}
.gg-moon, .gg-moon:after {
    display: block;
    box-sizing: border-box;
    border-radius: 50%;
}
.gg-moon:after {
    content: "";
    position: absolute;
    width: 12px;
    height: 18px;
    border: 2px solid transparent;
    box-shadow: 0 0 0 2px;
    top: 8px;
    left: 2px;
}
@media (min-width: 576px) {
    .container {
        max-width: 100%;
        padding-right: 30px;
        padding-left: 30px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 100%;
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 100%;
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;
    }

    .navbar-expand-lg {
        flex-flow: row nowrap;
        justify-content: flex-start;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 100%;
        padding-right: 25px;
        padding-left: 25px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1200px;
    }
}

/* index1*/
.w3l-index1 .content {
    position: relative;
    z-index: 1;
    display: grid;
    align-items: center;
    overflow: hidden;
    background: #ffffff;
    background-image: linear-gradient(to right,
            #fff,
            rgba(255, 255, 255, 0.92)), url(../images/banner.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 5rem;
}

.align-items-center {
    align-items: center !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.w3l-index1 .content-left h3 {
    font-size: 50px;
    line-height: 57.5px;
    color: #2C3038;
    font-weight: 600;
}

.w3l-index1 .content-left p {
    max-width: 450px;
    color: #5a5a5a;
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
}

.w3l-index1 .content-photo img {
    transform: rotate(180deg);
}

.clear {
    clear: both;
}

/* About Us*/
.w3l-index3{
    background-color: #F7F9FC;
}
.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.w3l-index3 .book-info h3 {
    font-size: 35px;
    line-height: 40px;
    color: #2C3038;
    font-weight: 700;
}
.w3l-index3 .book-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #5a5a5a;
    line-height: 24.4px;
}
.btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}
.btn-primary:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
}
img.shadow {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.09);
}
img.img-curve {
    border-radius: 6px;
    transition: 0.3s ease-in-out;
}
img.img-curve:hover {
    transform: translateY(-0.5rem);
    transition: 0.3s ease-in-out;
}